
html  {
  background-color: rgb(60,60,60);
}

body {
  background-color: rgb(60,60,60);
  color: whitesmoke;
  font-size: 20px;
  margin: 80px 0px 80px 0px;
  text-align: center;

}

.dark-theme {
background-color: whitesmoke;
color: rgb(60,60,60);
font-size: 20px;
margin: 80px 0px 80px 0px;
text-align: center;
}

hr{
    border: none;
    background-color: rgba(60,60,60,0.3);
    height: 1px;
}

.top-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  align-items: center;
}

.main-title {
  text-align: center;
  font-size: 50px;
  font-family: 'Contrail One', cursive;
  margin-left: 37%;
  margin-bottom: 10px;
  padding: 10px;
}

.btn-changetheme {
  height: 40px;
  margin-right: 50px;
  margin-top: 20px;
}

/* .goals-with-friends {
  font-size: 20px;
  margin: 80px 0px 80px 0px;
  text-align: center;
  background-color: whitesmoke;
} */

.addgoalinput {
  width: 50%;
}

.subtitle-1 {
  font-size: 30px;
  font-family: 'Contrail One', cursive;
}

.goals {
  padding: 40px 20px 40px 20px;
  color: whitesmoke;
  background-color: rgb(60,60,60);
  margin: 20px 420px 35px 420px;
  border-radius: 20px;
  line-height: 2em;
}

.subtitle-2 {
  font-size: 30px;
  font-family: 'Contrail One', cursive;
}

.complete-goals {
  padding: 40px 20px 40px 20px;
  color: whitesmoke;
  background-color: rgb(60,60,60);
  margin: 20px 420px 5px 420px;
  border-radius: 20px;
  line-height: 2em;
}

.btn-complete {
  margin-left: 7px;
  padding: 0px 3px 0px 3px;
}

.btn-clearall {
  margin-top: 20px;
}


.btn-signout {
  margin-bottom: 20px;
  margin-right: 1500px;
}
